#root{
  max-width: 1125px;
  margin: auto;
  background: #ebebeb;

}
p,h1,h2,h3,h4,a{
  margin: 0;
  padding: 0;
}
p{
  font-size: 28px;
}
html, body, :global(#root) {
  height: 100%;
  font-family: "Microsoft Yahei",Arial,Helvetica,sans-serif;
  margin: 0;
  padding: 0;
}

.scroll-box{
  overflow: auto;
  -webkit-overflow-scrolling : touch;
}
a{
  border:none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color:transparent;
  outline:none；
}