.reward-box {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    padding: 14px 0;
    margin: 20px 0;
    background: url('http://ypy.lazyertech.com/activityShare/share-lists.png') no-repeat;
    background-size: 100% 100%;
    position: relative;
    .face {
        margin-left: 30px;
        width: 80px;
        height: 80px;
    }
    .name-box {
        margin-left: 10px;
    }
    .name {
        display: -webkit-box;
        width: 140px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        font-weight: 600;
        margin-bottom: 8px;
    }
    .time {
        font-size: 20px;
        color: #888;
    }
    .mark {
        font-size: 18px;
        color: #888;
    }
    .reward-num-box {
        position: absolute;
        right: 0.05rem;
        height: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        .num {
            border-radius: 16px;
            color: #fd2e38;
            width: 180px;
            line-height: 1.2;
            text-align: center;
            // padding: 0 10px;
            // margin: 20px 0 10px 0;
            // background: red;
        }
        .icon-luck {
            width: 100px;
        }
    }
}

.reward-single {
    // background: url('http://ypy.lazyertech.com/activityShare/share-list.png') no-repeat;
    background-size: 100% 100%;
    margin: 0;
    .face {
        width: 90px;
        height: 90px;
    }
    .name-box {
        .name {
            margin-bottom: 16px;
        }
    }
}